<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  name="My Suite" verbose="1"
       parallel="methods" thread-count="5" data-provider-thread-count="2">
    <test name="xyz">
        <classes>
            <class name="Runner" />
        </classes>
    </test>
</suite>